@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Typography */
    --serif-font: 'Noto Serif', serif;
    --sans-serif-font: 'Public Sans', sans-serif;

    --font-size-xs: 20px;
    --font-size-sm: 24px;
    --font-size-md: 36px;
    --font-size-lg: 48px;
    --font-size-xl: 64px;
    --font-size-xxl: 96px;

    /* Colors */
    --darker-color: #222831;
    --lighter-color: #393E46;
    --extra-light-color: #616875;
    --light-color: #EEEEEE;
    --accent-color: #1494fd;

    /* Timing */
    --menu-animation: 0.5s;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: inherit;
    text-decoration: inherit;
}

/* Hero styling */

.hero {
    height: 100vh;
    min-height: 800px;
    color: var(--light-color);
    background-image: linear-gradient(180deg, var(--lighter-color), var(--darker-color));
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative
}

.hero-navbar {
    width: 100%;
    padding: 24px 48px;
    font-family: var(--serif-font);  

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;

    /* Animation properties */
    opacity: 0;
    transform: translateY(-100%);
    animation: 1.5s showNavbar ease forwards;
    animation-delay: 2s;

}

/* Will be toggled using menu on small screens */
.hero-sidenav {
    display: none;
}

.navbar-logo {
    font-size: var(--font-size-md);
    font-weight: 600;
}

.personal-logo {
    width: 120px;
}

.icon {
    min-width: 35px;
}

.icon, .link, .navbar-logo {
    transition: all 0.5s ease;
}

.link:hover {
    text-decoration: underline;
}

.icon:hover, .link:hover, .navbar-logo:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.navbar-links {
    width: 35%;
    min-width: 550px;
    font-size: var(--font-size-sm);
    font-family: var(--sans-serif-font);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navbar menu will be visible on small screens */
.navbar-menu {
    display: none;
}

.hero-heading {
    text-align: center;
    position: relative;
    margin-top: 150px;
}
.main-heading {
    font-family: var(--serif-font);
    font-size: var(--font-size-xxl);
    font-weight: bold;

    /* Animation properties */
    opacity: 0;
    transform: translateY(-10%);
    animation: 2.25s showMainHeading ease forwards;
}
.secondary-heading {
    font-family: var(--sans-serif-font);
    font-size: var(--font-size-lg);
    font-weight: 200;

    /* Animation properties */
    opacity: 0;
    transform: translateY(10%);
    animation: 1.5s showSecondaryHeading ease forwards;
    animation-delay: 1s;
}
.hero-heading::after {
    content: "";
    position: absolute;
    width: 25%;
    left: 39%;
    bottom: -40px;
    height: 3px;
    border-radius: 4px;
    background-color: var(--light-color);

    /* Animation properties */
    transform: scale(0);
    animation: 1.5s showUnderline ease forwards;
    animation-delay: 1s;
}

/* About */
.about {
    width: 100%;
    height: 100vh;
    min-height: 800px;

    background-color: var(--darker-color);

    color: var(--light-color);
}

.two-col-layout {
    height: 100%;
    padding: 40px 60px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.col {
    width: 45%;
    height: 60%;
    min-height: 400px;
    min-width: 300px;
    padding: 0 48px;

    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

    background-color: var(--lighter-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: all 0.5s ease;

    /* Animation properties */
    opacity: 0;
    transform: scale(0.9);
}

.col:hover {
    background-color: var(--extra-light-color);
}

.about-primary-header {
    font-family: var(--serif-font);
    font-weight: bold;
    font-size: var(--font-size-lg);
}

.about-secondary-header {
    font-size: calc(var(--font-size-sm) + 8px);
    font-weight: 500;
}

.about-paragraph {
    font-family: var(--sans-serif-font);
    font-weight: 100;
    font-size: var(--font-size-sm);
    line-height: 36px;
}

.about-line {
    z-index: 3;
    width: 30%;
    border-radius: 1px;
}

/* My projects */

.my-projects {
    height: 100vh;
    min-height: 800px;
    background-image: linear-gradient(180deg, var(--darker-color), var(--lighter-color));
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
}

.projects-container {
    margin: 64px 0;
    width: 60%;
    height: 60%;
    display: block;
    border-radius: 20%;

    position: relative;
}

/* Styling Image Swiper */

.swiper {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
    transition: all 0.3s ease;
}

.swiper:hover {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.01);
}

.swiper-pagination-bullet-active {
     background-color: var(--darker-color) !important;
}

.project-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Creating arrows */

.arrow-left img, .arrow-right img {
    height: 50px;
}

.arrow-left, .arrow-right {
    transition: all 0.3s ease;
}

.arrow-left:hover, .arrow-right:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.arrow-left {
    position: absolute;
    left: -70px;
    top: 42%;
}

.arrow-right {
    position: absolute;
    right: -70px;
    top: 42%;
}

/* Misc */

.accent {
    color: var(--accent-color);
}

.bold {
    font-weight: bold;
}

.show {
    display: none !important;
}

/* Media queries */

@media only screen and (max-width: 924px) {
    .navbar-logo {
        font-size: var(--font-size-sm);
    }

    .navbar-links {
        display: none;
    }
    /* Creating navbar menu */
    .navbar-menu {
        width: 46px;
        height: 30px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        position: fixed;
        top: 60px;
        right: 50px;
        z-index: 1500;

        /* Animation matching the navbar's */
    }

    .navbar-menu:hover {
        cursor: pointer;
    }

    .bar1, .bar2, .bar3 {
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background-color: var(--light-color);
    }

    .hero-sidenav {
        font-family: var(--serif-font);  
        background-color: var(--darker-color);
        height: 100%;
        width: 160px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        /* Sidenav is hidden by default */
        transform: translateX(100%);

        position: fixed;
        right: 0;
        z-index: 155;
    }

    .sidenav-links {
        font-size: var(--font-size-xs);
        font-family: var(--sans-serif-font);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .link {
        padding: 20px 0;
    }

    #github-icon {
        padding-right: 0;
        padding-bottom: 15px;
    }

    .two-col-layout {
        justify-content: space-between;
        padding: 40px 30px;
    }
    .col {
        padding: 0 24px;
    }

    .about-primary-header {
        font-size: var(--font-size-md);
    }
}

@media only screen and (max-width: 696px) {
    /* Changing fonts to match the screen width*/
    .hero-heading {
        margin-top: 240px;
    }
    .main-heading {
        font-size: var(--font-size-lg);
        line-height: 60px;
    }
    .secondary-heading {
        margin-top: 15px;
        font-size: var(--font-size-sm);
    } 

    .about {
        height: 1100px;
    }
    .two-col-layout {
        height: 100%;

        flex-direction: column;
        align-items: space-between;
    }

    .col {
        height: 500px;
    }

    .projects-container {
        width: 80%;
    }

    /* Making arrows closer to the container so they don't flow off the document*/
    .arrow-left img, .arrow-right img {
        height: 32px;
    }
    .arrow-left {
        left: -33px;
    }
    .arrow-right {
        right: -33px;
    }

}

/* Animations */

.rotateBar1 {
    animation: var(--menu-animation) rotateBar1 ease forwards;
}

@keyframes rotateBar1 {
    from {
        transform: rotate(0) translate(0, 0);
    }
    to {
        /* Forming an X using by rotating top bar & covering space of bar 2 using translate*/
        transform: rotate(45deg) translate(5px, 13.5px);
    }
}

.fadeBar2 {
    animation: var(--menu-animation) fadeBar2 ease forwards;
}

@keyframes fadeBar2 {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}

.rotateBar3 {
    animation: var(--menu-animation) rotateBar3 ease forwards;
}

@keyframes rotateBar3 {
    from {
        transform: rotate(0) translate(0, 0);
    }
    to {
        /* Forming an X using by rotating bottom bar & covering space of bar 2 using translate*/
        transform: rotate(-45deg) translate(5px, -13.5px);
    }
}

.showSidenav {
    animation: var(--menu-animation) showSidenav ease forwards;  
}

@keyframes showSidenav {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes showMainHeading {
    from {
        opacity: 0;
        transform: translateY(-10%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showSecondaryHeading {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showUnderline {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes showNavbar {
    from {
        opacity: 0;
        tranform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* col-left and col-right animation (About) */

.scrolled-show {
    animation: 1s scrolledShow ease-in-out forwards;
}

@keyframes scrolledShow {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}