@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Typography */
    --serif-font: 'Noto Serif', serif;
    --sans-serif-font: 'Public Sans', sans-serif;

    --font-size-sm: 24px;
    --font-size-md: 36px;
    --font-size-lg: 48px;
    --font-size-xl: 64px;
    --font-size-xxl: 96px;

    /* Colors */
    --darker-color: #222831;
    --lighter-color: #393E46;
    --light-color: #EEEEEE;
    --accent-color: #1494fd;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* Hero styling */

.hero {
    height: 100vh;
    color: var(--light-color);
    background-color: var(--lighter-color);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-navbar {
    width: 100%;
    padding: 24px 48px;
    font-family: var(--serif-font);  

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-size: var(--font-size-md);
    font-weight: 600;
}

.icon, .link, .navbar-logo {
    transition: all 0.5s ease;
}

.link:hover {
    text-decoration: underline;
}

.icon:hover, .link:hover, .navbar-logo:hover {
    cursor: pointer;
    transform: scale(1.15);
}

#github-icon {
    padding-right: 5px;
}

.navbar-links {
    width: 35%;
    min-width: 550px;
    font-size: var(--font-size-sm);
    font-family: var(--sans-serif-font);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-heading {
    text-align: center;
    position: relative;
    margin-top: 150px;
}
.main-heading {
    font-family: var(--serif-font);
    font-size: var(--font-size-xxl);
    font-weight: bold;
}
.secondary-heading {
    font-family: var(--sans-serif-font);
    font-size: var(--font-size-lg);
}
.hero-heading::after {
    content: "";
    position: absolute;
    width: 25%;
    left: 39%;
    bottom: -40px;
    height: 3px;
    background-color: var(--light-color);
}

/* About */
.about {
    width: 100%;
    height: 100vh;

    background-color: var(--darker-color);

    color: var(--light-color);
}

.two-col-layout {
    height: 100%;
    padding: 40px 160px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-col, .right-col {
    width: 45%;
    height: 60%;
    min-width: 400px;
    padding: 0 48px;

    border-radius: 20px;

    background-color: var(--lighter-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-primary-header {
    font-family: var(--serif-font);
    font-weight: bold;
    font-size: var(--font-size-lg);
}

.about-secondary-header {
    font-size: calc(var(--font-size-sm) + 8px);
    font-weight: 500;
}

.about-paragraph {
    font-family: var(--sans-serif-font);
    font-weight: 100;
    font-size: var(--font-size-sm);
    line-height: 36px;
}

.about-line {
    z-index: 3;
    width: 30%;
}

/* My projects */

.my-projects {
    height: 100vh;
    background-color: var(--lighter-color);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
}

.projects-container {
    margin: 64px 0;
    width: 60%;
    height: 60%;
    display: block;
    border-radius: 20%;

    position: relative;
}

.project-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;

    transition: all 0.3s ease;
}

.project-image:hover {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.01);
}

.indicators {
    width: 100%;
    margin-top: 12px;
    display: flex;
    justify-content: center;
}

/* Creating the dots under .projects-container */
#indicator-1, #indicator-2, #indicator-3 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #525252;

    transition: all 0.3s ease;
}

#indicator-1:hover, #indicator-2:hover, #indicator-3:hover {
    cursor: pointer;
    transform: scale(1.15);
}

/* Spacing the dots between themselves*/
#indicator-1 {
    background-color: #bbbbbb;
    margin-right: 12px;
}
#indicator-3 {
    margin-left: 12px;
}

/* Creating arrows */
.arrow-top, .arrow-bottom {
    background-color: #bbbbbb;
    width: 40px;
    height: 10px;
    border-radius: 8px;
}

.arrow-right, .arrow-left {
    /* Arrows are positioned in relation to .projects-container */
    position: absolute;
    display: block;
    z-index: 3;

    transition: all 0.3s ease;
}

.arrow-right:hover, .arrow-left:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.arrow-left:hover {
    /* Rotate(180deg) causes left arrow stay in the starting position. Without it would change to transform(0deg) and rotate */
    transform: rotate(180deg) scale(1.1);
}

.arrow-right {
    /* top property is designed by eye, it's not precise. */
    top: 53%;
    right: -70px;
}

.arrow-left {
    /* top property is designed by eye, it's not precise. */
    top: 45%;
    left: -70px;
    transform: rotate(180deg);
}

.arrow-top {
    transform: rotate(-60deg);
}

.arrow-bottom {
    transform: translateY(-36px) rotate(60deg);
}

/* Footer */
.footer {
    font-family: var(--serif-font);
    background-color: var(--darker-color);
    color: white;
    padding: 32px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Misc */

.accent {
    color: var(--accent-color);
}

.bold {
    font-weight: bold;
}